.nav ul li,.blogpost h1,.blogpost a,.title h1,.post h1{
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.nav{
	text-align:center;
	margin-top:20px;
}
.nav ul li{
	float:left;
	display:inline-block;
	font-family:'PT Serif', sans-serif;
	padding:5px;
	font-size:25px;
	color:#7F5E4D;
}
.nav span.1{
	margin-right:10px;
}
.nav span.2{
	margin-left:10px;
}
.nav ul li:hover{
	color:#b29e94;
}
.nav ul{
	display:inline-block;
}
.nav h1{
	color:#7F5E4D;
}
.title{
	text-align:center;
	margin-top:2em;
}
.title h1, .title h2{
	font-family:'PT Serif', serif;
	color:#323232;
}
.title h1{
	font-size:60px;
	margin-bottom:10px;
}
.title h2{
	font-size:30px;
}
html,body{
	margin:0;
	padding:0;
}
.blogpost h1, .blogpost h2{
	font-family:'PT Serif', serif;
}
.blogpost h2, .blogpost p{
	margin-top:10px;
}
.blogpost p{
	font-family:"PT Sans", sans-serif;
}
.blogpost h1{
	font-size:25px;
	color:#b6876e;
}
.blogpost h1:hover{
	color:#232323;
}
.blogpost h2{
	font-size:12px;
	color:#a8a8a8;
}
.blogpost p{
	font-size:18px;
	line-height:26px;
	color:#191919;
}
.blogpost a{
	text-decoration:none;
}
.blogpost a:hover{
	border-bottom:2px solid #323232;
}
.blogpost{
	padding:20px;
	width:70%;
	margin-left:auto;
	margin-right:auto;
	margin-top:1em;
	-webkit-transition:0.5s;
}
.blogpost:hover{
	border-bottom:4px solid #323232;
	border-radius:3px;
	background-color:#fbf3f2;
}
#rm{
	color:#434343;
}
#rm a{
	color:#434343;
	text-decoration:none;
}
.nextpage{
	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
}
.nextpage span{
	padding:5px;
	font-size:20px;
	border:1px solid #d3d3d3;
	margin-left:5px;
	font-family:'PT Serif', sans-serif;
}
.nextpage a{
	color:#000000;
	text-decoration:none;
}
footer{
	text-align:center;
	margin-top:30px;
	margin-bottom:20px;
}
footer p{
	font-family:'PT Serif', sans-serif;
}
.blogpost a{
	-webkit-transition:0.1s;
	-moz-transition:0.1s;
	-ms-transition:0.1s;
	-o-transition:0.1s;
	transition:0.1s;
}
.post h1, .post h2{
	font-family:'PT Serif', serif;
}
.post p{
	font-family:'PT Sans', sans-serif;
	margin-top:20px;
	margin-bottom:10px;
	font-size:18px;
	line-height:25px;
}
.post h1{
	font-size:40px;
	color:#b6876e;
}
.post h2{
	font-size:19px;
	margin-top:20px;
	color:#a8a8a8;
}
.post{
	width:60%;
	margin-left:auto;
	margin-right:auto;
	margin-top:2em;
}
.title a{
	text-decoration:none;
}
.title h1:hover{
	color:#5a5a5a;
}
.post p strong{
	font-size:22px;
}
.post p em{
	font-style:italic;
}
.post h1:hover{
	color:#232323;
}
